/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Montserrat', sans-serif;
}

.default-button {
    background-color: #dedcdc;
    display: inline-flex;
    padding: .5em 1em;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.default-button img {
    margin-right: 5px;
}
