:host {
    color: white;
    
    .preview-wrapper {
        height: 100%;
        background-color: #f3f3f3;
        overflow: auto;
    }
    @media print {
        #doc-con {
            display: none;
        }
    }
}