:host {
    display: inline-flex;
    width: 50%;
    height: 100%;
    float: left; /* Prevents jumpy behaviour when editing */

    div {
        background-color: white;
        color: black;
        width: 100%;
        height: 100%;
        display: block;
        padding: 1em;
        overflow: auto;
    }
    @media print {
        display: none !important;
        float: none;
    }
}