* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {background: #3BAB9A}

@media print {
    * {
        overflow: visible !important;
    }
    html, body {
        height: 100%;
    }
}