:host {
    display: block;
    max-width: 21cm;
    //max-height: 29.7cm; //Should be put on media print
    //height: 100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: justify;
     
    div {
        background-color: #f3f3f3;
        color: black;
        width: 100%;
        padding: 1em;
        & h1:first-child {
            margin-top: 0;
        }
        &.page {
          display: block;
          height: 100%;
          margin-top: 1em;
          border: 1px solid red;
        }
    }
    
    pre {
        text-align: center;
    }

    span.pageBreak {
      display: block;
      border: 1px solid red !important;
    }
}

